@import "variables";

body{
    font-size: 10px;
}

.weather-app {
    header {
        h1 {
            color: $beige;
            text-align: center;
            font-size: 3.5rem;
        }
    }

    .weather{
        display: flex;
        gap: 5%;
        .weatherimage{
            .none{
                display: none;
            }
        }

        .weatherinfo{
            input{
                border: none;
                outline: none;
                background-color: transparent;
                color:$white;
                border-bottom: 1px solid $white;
                padding-bottom: 2%;
                font-size: 1.3rem;
            }
            button{
                background-color: transparent;
                border: none;
                font-size: 1.3rem;
            }

            ::placeholder{
                color: $beige;
            }
        }
    }
}
